/*
@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-black-italic.woff") format("woff");
    font-style: italic;
}
*/

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-black.woff") format("woff");
    font-weight: 900;
}

/*
@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-bold-italic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-extra-bold-italic.woff") format("woff");
    font-style: italic;
    font-weight: bolder;
}
*/

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-extra-bold.woff") format("woff");
    font-weight: 700;
}
/*

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-extra-light-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-extra-light.woff") format("woff");
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-light-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-light.woff") format("woff");
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-medium-italic.woff") format("woff");
    font-style: italic;
}
*/

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-regular.woff") format("woff");
    font-weight: normal;
}

/*
@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-semi-bold-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-semi-bold.woff") format("woff");
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-thin-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Artifakt";
    src: url("../assets/fonts/artifakt-element-thin.woff") format("woff");
}
*/

.outer-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.button-host {
    width: 200px;
    padding: 8px;
}

.content-host {
    flex-grow: 1;
    width: calc(100% - 200px);
    height: 100%;
}
