.simple-node {
    width: 150px;
    stroke: rgba(128, 128, 128, 0.2);
    stroke-width: 1px;
}

.simple-node g {
    width: inherit;
}

.simple-node rect {
    width: inherit;
}

.simple-node text {
    font-size: 11px;
    font-family: Artifakt, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    fill: black;
    alignment-baseline: middle; /* This works, how to suppress warning? */
}

.simple-node .title {
    fill: #3c3c3c;
}

.title text {
    fill: white;
}

.simple-node .sub-title {
    fill: #eeeeee;
}

.simple-node .category-heading {
    fill: #cccccc;
}

.simple-node .typed-item {
    fill: #ffffff;
}
