.graph-node {
    width: 200px;
    fill: #ffffff;
    stroke: #80808033;
    stroke-width: 1px;
}

.graph-node g {
    width: inherit;
}

.graph-node rect {
    width: inherit;
}

.graph-node > circle {
    fill: white;
    stroke: rgba(128, 128, 128, 0.5);
    stroke-width: 1px;
}

.graph-node text {
    fill: #3c3c3c;
    font-size: 11px;
    font-family: Artifakt, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    stroke-width: 0px;
    alignment-baseline: middle; /* This works, how to suppress warning? */
}

.graph-node .primary {
    font-size: 12px;
}

.graph-node .secondary {
    fill: #3c3c3cb2;
    font-size: 8px;
}

.graph-node .version-rect {
    width: initial;
    fill: #eeeeee;
    stroke: #eeeeee;
    stroke-width: 1px;
}

.graph-node .version-text {
    fill: black;
    font-size: 8px;
    font-weight: 900;
    font-family: Artifakt, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    alignment-baseline: middle; /* This works, how to suppress warning? */
}

.graph-node .sub-title {
    fill: #eeeeee;
}

.simple-node .category-heading {
    fill: #cccccc;
}

.simple-node .typed-item {
    fill: #ffffff;
}

.simple-edge {
    stroke-width: 1.5px;
}

.simple-edge:hover {
    stroke-width: 3px;
}

.simple-edge.contains {
    stroke: #a60311;
}

.simple-edge.config-ref {
    stroke: #7d3c98;
}

.simple-edge.row-ref {
    stroke: #e74c3c;
}

.simple-edge.table-ref {
    stroke: #17a589;
}

.simple-edge.table-view {
    stroke: #000000;
}

.simple-edge.member-ref {
    stroke: #d4ac0d;
}

.simple-edge.assembly-ref {
    stroke: #3498db;
}

.simple-edge.use {
    stroke: #004080;
}

.simple-edge.describe {
    stroke: #008000;
}

.simple-edge.derive {
    stroke: #d31dca;
}

.simple-edge.factory-ref {
    stroke: #ba4a00;
}

.annotation text {
    fill: white;
    font-size: 11px;
    font-family: Artifakt, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    stroke-width: 0px;
    alignment-baseline: hanging;
}
